<div class="utility-section">
    <h2>Putty Launcher</h2>

    <!--Env Dropdown-->
    <div class="env-store-group">
        <label for="putty-env-dropdown">Env:</label>
        <select id="putty-env-dropdown">
            <option value="">--Select Environment</option>
            <option value="IC+ Central - Sys 1">IC+ Central - Sys 1</option>
            <option value="IC+ Central - Sys 2">IC+ Central - Sys 2</option>
            <option value="OWG - IR1">OWG - IR1</option>
            <option value="OWG - IR2">OWG - IR2</option>
            <option value="Local">Local</option>
        </select>

        <input type="text" id="putty-store-number" placeholder="Enter Store Number" disabled>
    </div>

    <div id="putty-status" class="status-box"></div>

    <!-- Launch Button -->
    <div class="button-group">
        <button id="launch-putty-btn">Launch</button>
    </div>
</div>