<div class="utility-section">
    <h2>Putty Launcher</h2>

    <!--Env Dropdown-->
    <div class="env-store-group">
        <label for="putty-env-dropdown">Env:</label>
        <select id="putty-env-dropdown">
            <option value="">--Select Environment--</option>
        </select>

        <input type="text" id="putty-store-number" placeholder="Enter Store Number" disabled>
    </div>

    <div id="putty-status" class="status-box"></div>

    <!-- Launch Button -->
    <div class="button-group">
        <button id="launch-putty-btn">Launch</button>
    </div>
</div>